  <form class="form-horizontal" name="form" ng-controller="login_ctrl" ng-submit="login(person)" novalidate>
    <div class="form-group">
      <label for="inputUsername" class="col-sm-2 col-md-2 control-label">E-mail</label>
      <div class="col-sm-10 col-md-10">
        <input type="text" class="form-control" id="inputUsername" required tabindex="1" ng-model="person.email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 col-md-2 control-label">Password</label>
      <div class="col-sm-10 col-md-10">
        <input type="password" class="form-control" id="inputPassword" required tabindex="2" ng-model="person.password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6" ng-show="error_msg != null">
        <span class="pficon-layered">
          <span class="pficon pficon-error-octagon"></span>
          <span class="pficon pficon-error-exclamation"></span>
        </span>&nbsp;&nbsp;
        <strong>{{error_msg}}</strong>
      </div>
       
      <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6" >
      
<script type="text/ng-template" id="modal_forget_password.html">
        <div class="modal-header">
            <h3 class="modal-title" style="color:black">Set a new password</h3>
        </div>
        <form class="form-horizontal" name="form" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-2">
                        <p  style="color:black" class="form-control-static">Write your e-mail address below and click send. You will receive instructions to access this system.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"  style="color:black">E-mail</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control" name="email" required ng-model="email">
                    </div>
                </div>
                <div class="form-group" ng-show="error_msg != null">
                    <div class="col-md-8 col-md-offset-2">
                        <p  style="color:red" class="form-control-static">{{error_msg.error}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" ng-click="send()" ng-disabled="form.$invalid">Send</button>
                </div>
            </div>
        </form>
</script>
      
        <span class="help-block"> Forgot <a ng-click="forget_password()" href="#" tabindex="6">Password</a> ?</span>
      </div> 
      
      <div class="col-xs-4 col-sm-4 col-md-4 submit">
        <button type="submit" class="btn btn-primary btn-lg" tabindex="4" ng-disabled="form.$invalid">Log In</button>
      </div>
    </div>
  </form>
