<h1>View timecard</h1>

<div ng-controller="timecardProjectCtrl">

    <div class="alert alert-warning" ng-show="error_msg != null">
        <span class="pficon-layered">
          <span class="pficon pficon-warning-triangle"></span>
          <span class="pficon pficon-warning-exclamation"></span>
        </span> 
            {{error_msg.error}}
    </div>

	<div class="form-group" ng-repeat="project in listProject">
    <div  class="form-group" ng-show="project.timecards.length > 0">
        <label class="col-md-2 control-label">Project</label>
        <div class="col-md-5">
            <label>{{project.name}} - (PA: {{project.paNumber}})</label>
        </div>
    </div>
    <div ng-repeat="timecard in project.timecards">
        <div class="form-group" >
            <table class="table table-striped table-bordered">
                <thead>
                <tr >
                    <th>Consultor</th>
                    <th ng-repeat="tcDayEntry in timecard.timecardEntriesDTO">{{tcDayEntry.day|date:"MMMM d, y"}}</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{timecard.consultant.name}}</td>
                        <td class="example-error-background" ng-repeat="tcDayEntry in timecard.timecardEntriesDTO">
                            {{tcDayEntry.workedHours}}
                            <span class="pficon pficon-ok" ng-if="tcDayEntry.timecardCompare == 'ok'"></span>
                            <span class="pficon pficon-error-circle-o" ng-if="tcDayEntry.timecardCompare == 'error'"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	</div>
    <form class="form-horizontal" name="form">
        <div class="form-group" ng-class="{'has-error': form.inputFile.$invalid}">
            <label for="inputFile" class="col-md-2 control-label">TSV File</label>
            <div class="col-md-2">
                <input class="form-control" type="file" file-model="content.inputFile" ng-model="content.inputFile" id="inputFile" name="inputFile" required accept=".tsv"/>
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-show="form.inputFile.$error.required">Required field</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" ng-click="uploadFileContent(content)">Compare</button>
            </div>
        </div>
    </form>
</div>

